:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #111D66;
  --secondary: #F4AE13;
  --font: #00144B;
  --bg-color: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  text-align: center;
  min-width: 300px;
  min-height: 100vh;
  margin: auto;
  color: var(--font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Reset geral para inputs e buttons */
input, button {
  all: unset;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

/* Padding ou bordas específicas após o reset */
input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos de foco */
input:focus, button:focus {
  border-color: var(--secondary);
  outline: none;
}

/* Estilo básico para button */
button {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--bg-color);
  border: none;
  border-radius: 4px;
}

/* Estilo de hover */
button:hover {
  background-color: var(--secondary);
}

/* Adicionando transições suaves */
input, button {
  transition: all 0.3s ease;
}